#  Rank and Dense Rank

### 1.1 Python Pandas

In [10]:
import pandas as pd   ## import the pandas module
df = pd.read_csv('Source_RankData.csv')   ## get the data from csv file into dataframe
display(df)

   Id    Name  Salary
0   1   Rahul   30000
1   2  Ganesh   40000
2   3  Pratik   50000
3   4   Anmol   50000
4   5   Sagar   60000
5   6  Rajesh   70000

In [17]:
df['rank'] = df['Salary'].rank(ascending=False)
df['dense_rank'] = df['Salary'].rank(method ='dense',ascending=False)
display(df)

   Id    Name  Salary  rank  dense_rank
0   1   Rahul   30000   6.0         5.0
1   2  Ganesh   40000   5.0         4.0
2   3  Pratik   50000   3.5         3.0
3   4   Anmol   50000   3.5         3.0
4   5   Sagar   60000   2.0         2.0
5   6  Rajesh   70000   1.0         1.0

### 1.2 PySpark

In [19]:
from pyspark.sql import SparkSession    ## import the spark session
spark=SparkSession.builder.appName('Rank and Dens_Rank').getOrCreate()

In [20]:
data=spark.read.csv("Source_RankData.csv",header=True,inferSchema=True)   ## get the data from csv file into dataframe

In [21]:
data.show()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|  1| Rahul| 30000|
|  2|Ganesh| 40000|
|  3|Pratik| 50000|
|  4| Anmol| 50000|
|  5| Sagar| 60000|
|  6|Rajesh| 70000|
+---+------+------+

In [22]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

window_spec = Window.orderBy(data['Salary'].desc())  # Define a window specification based on the 'Salary' column

data = data.withColumn('Rank', F.rank().over(window_spec))  # Add a 'Rank' column based on the 'Salary' column
data = data.withColumn('Dense Rank', F.dense_rank().over(window_spec))  #Add a 'Dense Rank' column based on the 'Salary' column

In [23]:
data.show()

+---+------+------+----+----------+
| Id|  Name|Salary|Rank|Dense Rank|
+---+------+------+----+----------+
|  6|Rajesh| 70000|   1|         1|
|  5| Sagar| 60000|   2|         2|
|  3|Pratik| 50000|   3|         3|
|  4| Anmol| 50000|   3|         3|
|  2|Ganesh| 40000|   5|         4|
|  1| Rahul| 30000|   6|         5|
+---+------+------+----+----------+